{% load static %}
<div id="gameFor4" class="page {% if not gameFor4 %}hidden{% endif %}">
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <button id="gameFor4-button" type="button"
                    class="btn btn-primary ">Start Game for 4</button>
            </div>
        </div>
    </div>
    <br>
    <div id="gameFor4-rules" class="text-center">
        <h3>Welcome to the Game!</h3>
        <p><strong>Controls:</strong></p>
        <p>Left Player: Y (up), I (down)</p>
        <p>Right Player: B (up), M (down)</p>
        <p>Top Player: Arrow Left (Left), Arrow Right (Right)</p>
        <p>Bottom Player: A (Left), D (Right)</p>
        <p>The game goes until the first loser (0 points)!</p>
        <p>Press the "Start Game for 4" button to begin.</p>
    </div>
    <canvas id="gameFor4-canvas" width="750" height="600" style="display: none;" ></canvas>
</div>
