{% load static %}
<div id="gameFor4" class="page {% if not gameFor4 %}hidden{% endif %}">
    <!-- create simple game -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <form id="gameFor4-form" class="mb-3">
                    <div class="form-group  mb-3">
                        <label for="aliases">Enter <strong>aliases</strong> separated by comma</label>
                        <input type="text" class="form-control"
                            id="aliases">
                    
                    </div>
                </form>
                <button id="gameFor4-button" type="button"
                    class="btn btn-primary ">Start Game for 4</button>
                </div>
        </div>
        </div>
    
    <canvas id="gameFor4-canvas" width="750" height="600" > 
    </canvas>
<div>

</div>
</div>