<!DOCTYPE html>
{% load static %}
<html lang="en" data-bs-theme="light">
    <head>
        <link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/wcAAwAB/ayOeWMAAAAASUVORK5CYII=" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="pong, transcendence, game" />
        <title>Transcendence</title>
        <link rel="stylesheet" href="{% static 'css/game.css' %}">
        <style>
        .hidden {
            display: none;
        }
        </style>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid p-0">
            <div id="content" class="row m-0">
                <div id="header" class="bg-light">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand">Transcendence</a>     
                        <div class="navbar-collapse" id="navbarNavAltMarkup">
                            <div id="logged-out">
                                <div class="navbar-nav" id="logged_out">
                                    <a class="nav-item nav-link" href="/home" data-path="home">Home</a>
                                    <a class="nav-item nav-link" href="/login" data-path="login">Login</a>
                                    <a class="nav-item nav-link" href="/register" data-path="register">Register</a>
                                </div>
                            </div>
                            <div id="logged-in" class="hidden">
                                <div class="navbar-nav hidden" id="logged_in">
                                    <div class="left-side">
                                        <a class="hidden nav-item nav-link" href="/home" data-path="home">Home</a>
                                        <a class="nav-item nav-link" href="/game" data-path="game">Game</a>
                                        <a class="nav-item nav-link" href="/gameFor4" data-path="gameFor4">Game for 4</a>
                                        <a class="nav-item nav-link" href="/tournament" data-path="tournament">Tournament</a>
                                    </div>
                                    <div class="right-side">
                                        <div id="2fa-container" class="form-check form-switch">
                                            <input type="checkbox" id="2fa-tickbox" name="2fa-tickbox" class="form-check-input">
                                            <label for="2fa-tickbox">2FA Enabled</label>
                                        </div>
                                        <button id="logout-button" class="btn btn-primary">Logout</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <div id="view">
                    <div id="success-container"  class="hidden"  > 
                        <div id="success-message" class="alert alert-success">
                        </div>
                    </div>
                    <div id="error-container" class="hidden">
                        <div id="error-message" class="alert alert-danger">
                        </div>
                    </div>
                    {% include '2fa.html' %}
                    {% include 'home.html' %}
                    {% include 'login.html' %}
                    {% include 'register.html' %}
                    {% include 'game.html' %}
                    {% include 'gameFor4.html' %}
                    {% include 'tournament.html' %}
                </div>
            </div>
        </div>
        
        <script src="{% static 'js/navigation.js' %}" defer></script>
        <script src="{% static 'js/login.js' %}"></script>
        <script src="{% static 'js/register.js' %}"></script>
        <script src="{% static 'js/2fa.js' %}"></script>
        <script src="{% static 'js/game.js' %}"></script>
        <script src="{% static 'js/gameFor4.js' %}"></script>
        <script src="{% static 'js/tournament.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
