<div id="login" class="{% if not login %}hidden{% endif %}">
  <div class="container">
      <div class="row">
          <div class="col-md-6 mx-auto">

              <h1>Login</h1>
              <div id="error-message" class="hidden">
              <div id="error-message" class="alert alert-danger"><strong>Login failed! Please try again</strong></div>
              </div>
              <form id="login-form">
                  <div class="form-group">
                      <label for="login-username">Username</label>
                      <input type="text" class="form-control"
                          id="login-username"
                          placeholder="Enter username">
                  </div>
                  <div class="form-group">
                      <label for="login-password">Password</label>
                      <input type="password" class="form-control"
                          id="login-password"
                          placeholder="Enter password">
                  </form>
                  <button id="loginButton" type="button"
                      class="btn btn-primary">Login</button>
                  <button id="registerButton" type="button"
                      class="btn btn-secondary">Register</button>
              </div>
          </div>
      </div>
  </div>
</div>