{% load static %}
<div id="tournament" class="page {% if not tournament %}hidden{% endif %}">
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="text-center">
                    <button id="return-button" class="btn btn-primary" style="display: none;">Return to Start</button>
                </div>
                <form id="player-names-form">
                    <div class="form-group">
                        <input type="text" class="form-control mb-2" id="player1" placeholder="Player 1 Name"
                            style="background-color: red;" maxlength="10">
                        <input type="text" class="form-control mb-2" id="player2" placeholder="Player 2 Name"
                            style="background-color: greenyellow;" maxlength="10">
                        <input type="text" class="form-control mb-2" id="player3" placeholder="Player 3 Name"
                            style="background-color: rgb(43, 100, 255);" maxlength="10">
                        <input type="text" class="form-control mb-2" id="player4" placeholder="Player 4 Name"
                            style="background-color: yellow;" maxlength="10">
                    </div>
                    <button id="tournament-button" type="submit" class="btn btn-primary">Start Tournament</button>
                </form>
            </div>
        </div>
    </div>
    <br>
    <div id="tournament-rules" class="text-center">
        <h3>Welcome to the Game!</h3>
        <p><strong>Controls:</strong></p>
        <p>Left Player: W (up), S (down)</p>
        <p>Right Player: Arrow Up (up), Arrow Down (down)</p>
        <p>First player to score 5 points wins the round!</p>
        <p>The game proceeds until the winner is decided between all the players!</p>
        <p>Press the "Start Tournament" button to begin.</p>
    </div>
    <canvas id="tournament-canvas" width="750" height="600"></canvas>
    
</div>