*.pyc
**__pycache__/
db.sqlite3
postgres/
nginx_logs/
backend_logs/
elasticsearch/
.env

# for some reason, some lines below don't work (or I don't understand the syntax lol),
# let's test all of them together and remove later the unnecessary ones
*/*/migrations/
migrations/
**/migrations/
static_volume/
**/staticfiles/
# ignoring the folder configuration file on Mac
.DS_Store
**/.DS_Store
tests/
scripts/
**/logs/
contracts/
.states/
artifacts/
kek.py
ghjgh/
